@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    font-family: "DM Sans";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

.recipe__wrapper {
    display: flex;
}

a {
    text-decoration: none;
}
ol > li::marker {
    font-weight: bold;
    text-align: start;
  }